/***************************************/
/* CSS HEX */
:root {
    --cOscuro: #2c302eff;
    --cGris: #696969ff;
    --cAzul: #558c8cff;
    --cCaféC: #cbbf7aff;
    --cCaféC2: rgba(255, 246, 195, 0.542);
    --cClaro: #f2f6d0ff;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(111, 108, 108);
    border-radius: 10px;
}
/***************************************/
body {
    background-color: var(--cOscuro);
    color: var(--cCaféC2);
    line-height: 160%;
}
.sidebar {
    /*position: fixed;*/
}
.principal {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.section {
    padding-top: 5%;
}
/*
.section1 {
    padding-top: 15%;
}*/
p.a{
    color: var(--cCaféC);
}
hr {
    margin: 20%;
}
#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color: var(--cOscuro);
}
.botonStart {
    color: var(--cCaféC);
    border-color: var(--cCaféC);
}
.botonStart:hover {
    color: var(--cOscuro);
    background-color: var(--cCaféC);
    border-color: var(--cCaféC);
}
.aboutMe {
    padding-top: 50%;
}
/***************************************/